<!DOCTYPE html>
<html lang="en">
<head>
	{% load staticfiles %}
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
	<meta charset="UTF-8">
	<link rel="stylesheet" href="{% static 'parking_spot/style.css' %}">
	<title>{{title}}</title>
</head>
<body>
	<div class ='container'>
		<div class = 'row blue-grey darken-3' id = 'header'>
			<div  class = 'col s1 m2 l2'>
				<a href="{% url 'parking_index' %}"><img src="{% static 'parking_spot/coding_dojo_white.png' %}" alt="dojo"></a>
			</div>
			{% block header%}{% endblock header %}
		</div>
		<div class = 'row'>
			<div class = 'col s6 m6 l6 location'>
				<p>My Location: {{title}}</p>
			</div>
			<div class = 'col s4 m4 l4 offset-s2 offset-m2 offset-l2 location'>
				{% if user.username %}
					<div>  You are logged in as: {{user.username}}</div>
				{% endif %}
			</div>
		</div>
		<div class = 'row' id = 'content'>
			{% block content %}{% endblock content %}
		</div>
	</div>
</body>
</html>