{% extends "parking_spot/base.html" %}
{% block title %}Coding Dojo Seattle Parking Sign up{% endblock %}
{% block header %}
	{% if not user.username %}
		<div class = 'col s3 offset-m6 m2 l1 offset-l8 offset-s5'>
			<a href="{% url 'parking_sign_in' %}" >Sign In</a>
		</div>
		<div class='col s3 l1 m2'>
			<a href="{% url 'parking_index' %}">Search</a>
		</div>
	{% else %}
		<div class = 'col s3 m2 l2 offset-l8 offset s-8 offset-m8'>
			<a href="{% url 'parking_logout' %}">Sign out</a>
		</div>
	{% endif %}
{% endblock %}
{% block content %}
			<div class = 'col s10 m6 l4 offset-s1 offset-m3 offset-l4' id = 'login'>
				<form action="{% url 'parking_sign_up' %}" method="post">
					{% csrf_token %}
					{{SignUpForm.as_p}}
					<button class='btn  light-blue darken-1' type='submit'>Sign up</button>
				</form>
			</div>
{% endblock %}