{% extends "parking_spot/base.html" %}
{% block title %}Coding Dojo Seattle Parking{% endblock %}
{% block header %}
				<a href="{% url 'parking_sign_up' %}" class = 'col s3 offset-m6 m2 l1 offset-l10 offset-s2'>Sign Up</a>
				<a href="{% url 'parking_sign_in' %}" class='col s3 l1 m2'>Sign In</a>
{% endblock %}
{% block content %}
			<div class = 'col s8 m4 l4 offset-s2 offset-m4 offset-l4' id = 'login'>
				<form action="">
					{% csrf_token %}
					{{SearchForm}}
					<button class='btn pull-right' type='submit'>Search</button>
				</form>
			</div>
{% endblock %}