{% extends "parking_spot/base.html" %}
{% block title %}Coding Dojo Seattle Parking Sign up{% endblock %}
{% block header %}
<a href="{% url 'parking_logout' %}" class = 'col s3 offset-m6 m2 l1 offset-l8 offset-s5'>Sign out</a>
<a href="{% url 'parking_index' %}" class='col s3 l1 m2'>Search</a>
{% endblock %}
{% block content %}
<div class = 'row'>
	<table class= 'col s12 m12 l12 striped' style='text-align:center'>
		<tr>
			<th>Make</th>
			<th>Model</th>
			<th>Color</th>
			<th>Plate Number</th>
			<th>Action</th>
		</tr>
		{% for car in vehicles %}
		<tr>
			<td>{{car.make.upper}}</td>
			<td>{{car.model.upper}}</td>
			<td>{{car.color.upper}}</td>
			<td>{{car.plate_number.upper}}</td>
			<td>
				<form action='/delete' method='post'>
					{% csrf_token %}
					<input type="hidden" name="vehicle" value='{{car.id}}'>
					<input type="submit" value='Delete' class='btn red accent-4'>
				</form>
			</td>
		</tr>
		{% endfor %}
	</table>
</div>
<div class = 'row'>
	<div class = 'col s10 m6 l4 offset-s1 offset-m3 offset-l4' id = 'addCar'>
		<form action="{% url 'user_detail_post' %}" method="post" class = 'capital'>
			{% csrf_token %}
			{{form.as_p}}
			<button class='btn  light-blue darken-1' type='submit'>Add a Vehicle</button>
		</form>
	</div>
</div>
{% endblock %}